In [ ]:
#numpy

import numpy as np

def moyenne(tab) :
    return sum(tab)/len(tab)

revenus = [1800, 1500, 2200, 3000, 2172]

#moyenne sans numpy
print(moyenne(revenus))

#moyenne avec numpy
print(np.mean(revenus))

#generer des tableaux numpy
array_revenus = np.array(revenus) #conversion d'une liste en array de np
print(array_revenus) 
print(np.ones(7)) #generer un tableau de 7 0
print(np.zeros(7)) #generer un tableau de 7 1
print(np.arange(0,7,1)) #generer un tableau de 0 à 7 par bon de 1
print(np.linspace(1,5,7)) #generer un tableau de 7 éléments avec une disatance égale entre 1 et 5
print(array_revenus.dtype) #type des données du tableau
print(array_revenus.shape) #taille du tableau

#exo
a = np.linspace(5, 10, 11)
print(a[-3:-1])

b = np.array([[[1, 2],[4, 5]],
        [[6, 7],[8, 9]],
        [[10, 11],[12, 13]]])

print(b.shape)

b[2, :, :]

b.reshape([4, 1, 3]) #redimensionnement

In [104]:
#pandas

import pandas as pd

data = pd.read_csv('./data/clients.csv') #fichier .csv

head = data.head(7) #les 7 premieres lignes du fichier

tail = data.tail(7) #les 7 dernières lignes du fichier

data = pd.read_json('./data/clients.json')  #fichier .json

taille = data.shape #taille de donnnée

types = data.dtypes #type de chaque colonne

clients = data.values #conversion en array

email = data['email'] #on prend la colonne email de la data qui est de type serie

informations = data[['nom', 'genre']] #on prend deux colones de la data frame et on obtient un data frame

data['M ou F'] = 'F' #ajout d'une nouvelle colonne

data['id'] = data['identifiant'] * 100 #ajout de la colonne id

data = data.drop(columns='identifiant') #suppression qui ne modifie pas le data frame originale mais retourne la nouvelle

data['identifiant'] = data['id'] // 100 #ajout d'une colonne

data.pop('id') #suppression de la colonne id ajouter et modifie directement la data frame originiale

data = data.rename(columns={'identifiant' : 'id'}) #renommé la colonne identifiant en id mais la modification ne s'effectue sur la data frame originale

data.rename(columns={'id' : 'identifiant' , 'genre' : 'sexe'} , inplace=True) #renommé deux colonnes et la modification directement sur la data frame

data['identifiant'] = data['identifiant'].astype(float) #changement de type 

data.head()

                       email               nom sexe M ou F  identifiant
0  LaurentDagenais@rhyta.com  Laurent Dagenais    M      F          0.0
1      GuyMarois@fleckens.hu        Guy Marois    M      F          1.0
2  BeaufortLesage@einrot.com   Beaufort Lesage    M      F          2.0
3  RussellDurand@armyspy.com    Russell Durand    M      F          3.0
4       AlexisRiel@rhyta.com       Alexis Riel    M      F          4.0

In [129]:
#exercice Manipulez un dataframe pour le service immobilier avec pandas

prets = pd.read_csv("./data/prets.csv")

# calcul du taux d'endettement
prets['taux_endettement'] = round(prets['remboursement'] * 100 / prets['revenu'], 2)

# renommer taux en taux_interet
prets.rename(columns={'taux':'taux_interet'}, inplace=True)

# calculer le cout total du pret
prets['cout_total'] = prets['remboursement'] * prets['duree']

# calculer les bénéfices mensuels réalisés
prets['benefices'] = round((prets['cout_total'] * prets['taux_interet']/100)/(24), 2)

prets.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57

In [143]:
#exercice Filtrez les données du dataframe avec pandas

#Le taux d’endettement autorisé est de 35%. Pourriez vous me communiquer le nombre de personnes ayant dépassé ce seuil ? vous pourrez me stocker la liste dans une variable à part nommé clients_risque
prets.loc[prets['taux_endettement'] > 35 ]

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices
7,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
8,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
10,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
15,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
21,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
23,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
25,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
29,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
43,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
46,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
49,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
50,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
52,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
53,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
54,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
61,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
69,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
70,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
72,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
74,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
75,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
81,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
85,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
89,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
93,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
108,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
112,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
129,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
134,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
135,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
138,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
143,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
148,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
150,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
155,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
167,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
168,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
175,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
180,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
181,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
183,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
185,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
186,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
187,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
195,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
196,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
203,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
218,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
219,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
220,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
221,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
222,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
224,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
227,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
228,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
232,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
241,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0
242,60,60,60,60.0,60.0,60,60,60.0,60.0,60.0,60.0